/* LCARS COLOR */
@import url("../colors_NEXT.css");


* {
    border: none;
    font-family: Antonio, Ubuntu Nerd Font;
    font-size: 14px;
    min-height: 10px;
}

window#waybar {
    background: @color4;

}

window#waybar.hidden {
    opacity: 0.2;
}


/* MODULES RIGHT */

#bluetooth,
#temperature,
#custom-ArchUpdates,
#tray,
#clock,
#backlight,
#battery,
#window,
#network,
#memory,
#pulseaudio,
#custom-launcher {
    padding-left: 10px;
    padding-right: 10px;
}

#window {
    transition: none;
    color: black;
    background: @color1;
}

#network {
    transition: none;
    color: black;
    background: @color1;
    border-left: 5px solid @black;
}

#bluetooth {
    background-color: @color2;
    color: black;
    border-left: 5px solid @black;
}

#temperature {
    background-color: @color5;
    color: black;
    border-left: 5px solid @black;
}

#temperature.critical {
    background-color: @red-alert;
    color: black;
    border-left: 5px solid @black;
}

#custom-ArchUpdates {
    background-color: @color7;
    color: black;
    border-left: 5px solid @black;
}

#tray {
    background-color: @color5;
    color: black;
    border-left: 5px solid @black;
}


#memory {
    background-color: @color5;
    color: black;
    border-left: 5px solid @black;
}



#pulseaudio,
#pulseaudio.bluetooth,
#pulseaudio.muted,
#pulseaudio.source-muted {
    background-color: @color7;
    color: black;
    border-right: 5px solid @black;
}


/* MODULES CENTER */

#clock {
    background-color: @color5;
    color: black;
    border-right: 5px solid black;
    border-left: 5px solid black;
}


/* MODULES LEFT */

#custom-launcher {
    background-color: @color1;
    color: black;
    border-right: 5px solid black;
}

#hyprland-window {
    background-color: @color4;
    color: black;
    border-right: 5px solid black;
}

#battery {
    transition: none;
    color: black;
    background: @color2;
    border-right: 5px solid black;
}

#battery.charging,
#battery.plugged {
    background-color: @color2;
    color: black;
    border-right: 5px solid black;
}

#battery.critical:not(.charging) {
    background-color: @white-alert;
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-right: 5px solid black;
}

@keyframes blink {
    to {
        background-color: @red-alert2;
        color: black;
    }
}


#backlight {
    background-color: @color5;
    color: black;
    border-right: 5px solid black;
}

#workspaces {
    background-color: @color1;

}

#workspaces button {
    color: black;
    border-radius: 0px;
    border-right: 5px solid black;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button.empty {}

#workspaces button.visible {}

#workspaces button.active {
    background-color: @color15;
}


#workspaces button.urgent {
    background-color: @red-alert;
}


#workspaces button.empty:hover {
    background-color: @color2;
}

#workspaces button.visible:hover {
    background-color: @color2;
}

#workspaces button.active:hover {
    background-color: @color2;
}


#workspaces button.urgent:hover {
    background-color: @color2;
}

#workspaces button:hover {
    background-color: @color2;
}


#workspaces:hover {
    background-color: @color2;
}







/*
    #bluetooth
    #bluetooth.disabled
    #bluetooth.off
    #bluetooth.on
    #bluetooth.connected
    #bluetooth.discoverable
    #bluetooth.discovering
    #bluetooth.pairable



    #tray
    #tray menu for the context menu
    #tray > .passive for icons with status Passive
    #tray > .active for icons with status Active
    #tray > .needs-attention for icons with status NeedsAttention

*/