/* LCARS COLOR */
@import url(".config/colors_NEXT.css");

/* WOFI MENU Centered*/
window {
    font-family: "Antonio";
    font-size: 20px;
    color: black;
    padding: 10px;
    border-radius: 0px 60px 0px 0px;
    background-color: @color4;
}

#input {
    font-size: 34px;
    padding: 110px 10px 10px 10px;
    border-radius: 0px;
    background-color: @color4;
	border: none;
	color: black;
}

#input:focus {
}


#inner-box {
    background-color: black;
    border-radius: 0px 25px 0px 0px;
    
}

#outer-box {
    border-top: 0px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 0px solid transparent; 
    border-radius: 0px 30px 0px 0px;
    border-color: @color4;
}

#scroll {
    margin-right: 0px;
}

#text {
    margin-left: 10px;

	color: black;
}

#text:selected {

	color: white;
}

#entry {
    margin: 4px;
    padding: 15px 0px 15px 10px;
    border-radius: 23px;

    background-color: @color1;
	color: black;
}


#entry:selected {
    border: none;
    background-color: @color3;


	color: white;
}