/* LCARS COLOR */
@import url(".config/colors_NEXT.css");

/* WOFI MENU Centered*/
window {
    font-family: "Antonio";
    font-size: 16px;
    color: black;
    padding: 10px;
    background-color: @color5;
    border-radius: 0px 60px 60px 0px;
}

#input {
    font-size: 24px;
    background-color: @color15;
    margin-right: 400px;
    color: black;
    padding: 10px;
    border-right: 5px solid black;
    border-color: ;
    border-radius: 0px;
}

#input:focus {
}


#inner-box {
    background-color: black;
    border-radius: 0px 25px 25px 0px;
    
}

#outer-box {
    border-top: 0px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 20px solid transparent; 
    border-radius: 0px 60px 60px 0px;
    border-color: @color5;
}

#scroll {
    margin-right: 0px;
}

#text {
    margin-left: 10px;
}

#text:selected {
}

#entry {
    margin: 4px;
    padding: 10px;
    background-color: @color4;
    border-radius: 23px;
}

#entry:selected {
    border: none;
    background-color: @color2;
}
