/* 
    LCARS COLORS
    based on
    Star Trek - The Next Generation
*/

/* White */
@define-color foreground #f4eee8;
/* Black */
@define-color background #1e1e1e;

/* Grey Dark */
@define-color color0 #282a2e; 
/* Grey Light */
@define-color color8 #373b41;

/* Purple1 Dark */
@define-color color1 #552255;
/* Purple1 Light */
@define-color color9 #996699;

/* LightBlue Dark */
@define-color color2 #bbbbff;
/* LightBlue Light */
@define-color color10 #dadaff;

/* Green1 Dark */
@define-color color3 #00bb00;
/* Green1 Light */
@define-color color11 #33ff33;

/* SoftOrange Dark */
@define-color color4 #d0b0a0;
/* SoftOrange Light */
@define-color color12 #ffebde;

/* Purple2 Dark */
@define-color color5 #774477;
/* Purple2 Light */
@define-color color13 #cc99cc;

/* Green2 Dark */
@define-color color6 #99aa66;
/* Green2 Light */
@define-color color14 #ddffdd;

/* Orange Dark */
@define-color color7 #ff8800;
/* Orange Light */
@define-color color15 #ffaa00;


/*-----------------------------------*/
/* Black semi transparent*/
@define-color semi-trans rgba(0, 0, 0, 0.2);









/* Main Window */
.control-center {
  border-top: 70px solid @color4;
  border-left: 30px solid @color4;
  border-radius: 30px 0px 0px 0px;
  background: @color4;
}

.control-center-list-placeholder {
  background: @color4;
  color: black;
  padding: 20px;
  border-radius: 20px;
}


.control-center-list {
  background: black;
  color: black;
  padding: 0px;
  border-radius: 20px 0px 0px 0px;
}

widget-inhibitors > button {

  background: green;
}

/* Title */
.widget-title {
  margin: 0px;
  border-top: 50px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 50px;
  font-size: 2rem;
  border-radius: 0px;
  padding: 15px 4px 4px 4px;
  background: @color4;
  color: @background;
}


/* Do Not Disturb Button */
.widget-dnd {
  background: @color4;

  color: @background;
  margin: 0px;
  margin-bottom: 5px;
  padding: 4px 4px 4px 4px;
  font-size: 1.2rem;
}
.widget-dnd > switch {
  background: @color2;
  border: 1px solid black;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @color1;
}
.widget-dnd > switch slider {
  background: @color1;
}
.widget-dnd > switch:checked slider {
  background: @color2;
  border-radius: 12px;
}

/* Player audio */
.widget-mpris {
  background: @color2;
  border-radius: 0px;
  margin: 0px;
  border-top: 5px solid black;
  border-bottom: 0px;
  border-left: 5px solid black;
  border-right: 0px;
  border-radius: 0px;
  color: black;

}

/* Volume slider */
.widget-volume {
  background: @color9;
  padding: 10px 15px 10px 15px;
  margin: 0px 0px 40px 0px;
  
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 0px;
  border-radius: 0px;
}


/* Backlight slider */
.widget-backlight {
  background: @color9;
  padding: 10px 15px 10px 15px;
  margin: 0px;
  
  border-top: 5px solid black;
  border-bottom: 0px;
  border-left: 5px solid black;
  border-right: 0px;
  border-radius: 0px;
}



/* Notification */
.notification {
  background: @color7;
  margin: 5px 0px 0px 5px;
  border-radius: 25px;
  box-shadow: none;
}

.notification-row:focus,
.notification-row:hover {
  background: transparent;
}

.notification-content {
  background: @color7;
  color: black;
}

.close-button {
  background: @color1;
  color: @foreground;
  margin: 10px 5px;
}

.close-button:hover {
  background: @color9;
}

.body {
  color: @background;
}

.summary {
  color: @background;
}

.time {
  color: @background;
}

.notification-default-action,
.notification-action {
  background: @color1;
  margin: 0px 5px 5px 5px;
  border-radius: 25px;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @color9;
}

.inline-reply {
}

.inline-reply-entry {
  background: @color2;
  color: @background;
  caret-color: @background;
}

.inline-reply-button {

  color: @foreground;
  border-radius: 15px;
  background: @color1;
}

.inline-reply-button:disabled {
}

.inline-reply-button:hover {

  background: @color9;
}
